<form (ngSubmit)="addProtocol()">
    <table>
        <tr>
            <td>
                <mat-form-field>
                    <mat-label for="prescriptionStart">Дата на издаване:</mat-label>
                    <input matInput [matDatepicker]="picker" id="protocolStart" name="protocolStart" [(ngModel)]="protocolStart">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                    <mat-label>Валидност (дни):</mat-label>
                    <input matInput id="protocolValidity" name="protocolValidity" [(ngModel)]="protocolValidity">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <protocol-add-medicine (medicineAdded)="addMedicineToProtocol($event)">
                </protocol-add-medicine>
            </td>
        </tr>
        <tr *ngFor="let medicine of medicines">
            <td>
                <mat-label>{{medicine}}</mat-label>
            </td>
            <td>
                <button mat-flat-button color="primary" type="button" (click)="removeMedicineFromProtocol(medicine)">Изтрий от протокол</button>
            </td>
        </tr>
        <tr>
            
        </tr>
        <tr>
            <td>
                <button mat-flat-button color="primary" type="submit">Добави протокол</button>
            </td>
        </tr>
    </table>
</form>