<div class="add-prescription">
    <div>Нова рецепта:</div>
    <form (ngSubmit)="addPrescription()">
        <table>
            <tr>
                <td>
                    <label for="prescriptionName">Лекарство:</label>
                </td>
                <td>
                    <input type="text" id="prescriptionName" name="prescriptionName" [(ngModel)]="prescriptionName">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="prescriptionValidity">Валидност:</label>
                </td>
                <td>
                    <input type="text" id="prescriptionValidity" name="prescriptionValidity" [(ngModel)]="prescriptionValidity">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="prescriptionStart">Дата на издаване:</label>
                </td>
                <td>
                    <input type="date" id="prescriptionStart" name="prescriptionStart" [(ngModel)]="prescriptionStart">
                    <button type="submit">Добави</button>
                </td>
            </tr>
        </table>
    </form>
</div>
    