<form (ngSubmit)="addPrescription()">
    <div>
      <label for="prescriptionName">Prescription Name:</label>
      <input type="text" id="prescriptionName" name="prescriptionName" [(ngModel)]="prescriptionName">
    </div>
    <div>
      <label for="prescriptionValidity">Prescription Validity:</label>
      <input type="text" id="prescriptionValidity" name="prescriptionValidity" [(ngModel)]="prescriptionValidity">
    </div>
    <div>
      <label for="prescriptionStart">Prescription issued date:</label>
      <input type="date" id="prescriptionStart" name="prescriptionStart" [(ngModel)]="prescriptionStart">
    </div>
    <button type="submit">Add</button>
  </form>
  