.button {
    cursor: pointer;
}

.button:hover {
    background-color: red;
}

table {
    border-spacing: 0px;
    border: 1px solid;
    th {
        border: 1px solid;
        padding: 5px;
    }
    td {
        border: 1px solid;
        padding: 5px;
    }
    .centered {
        text-align: center;
    }
}