<div id="prescriptions-add" *ngFor="let medicine of medicinesForPrescriptions">
    <div>За: {{medicine}}</div>
    <prescription-add [medicineName]="medicine" (prescriptionAdded)="prescriptionAdded($event)">
    </prescription-add>
</div>

<table *ngIf="protocols.length">
    <thead>
      <tr>
        <th>Включени лекарства:</th>
        <th>Изтича на</th>
        <th>Оставащи дни</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let protocol of protocols">
        <td>{{ protocol.medicines.join(',') }}</td>
        <td class="centered">{{ formatDate(protocol.validTo) }}</td>
        <td class="centered">{{ daysLeft(protocol.validTo) }}</td>
        <td  class="centered">
            <button *ngIf="!isExpired(protocol)" mat-flat-button color="primary" (click)="addPrescriptions(protocol.medicines)">Добави рецепти</button>
            <button *ngIf="isExpired(protocol)" mat-flat-button color="primary" (click)="renewProtocol(protocol)">Поднови</button>
            <button mat-flat-button color="warn" (click)="removeProtocol(protocol.id)">ИЗТРИЙ</button>
        </td>
      </tr>
    </tbody>
  </table> 