<table *ngIf="protocols.length">
    <thead>
      <tr>
        <th>Medicines included:</th>
        <th>Expires on</th>
        <th>Days left</th>
        <!-- Add more table headers as needed -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let protocol of protocols">
        <td>{{ protocol.medicines.join(',') }}</td>
        <td class="centered">{{ formatDate(protocol.validTo) }}</td>
        <td class="centered">{{ daysLeft(protocol.validTo) }}</td>
        <td class="button"><div (click)="removeProtocol(protocol.id)">REMOVE</div></td>
      </tr>
    </tbody>
  </table> 