<div class="dashboard-title">Здравейте {{user}}  
    <span> Сесията изтича след: {{sessionExpiry}}</span>
    <span class="logout-button">
        <button mat-flat-button color="primary" (click)="logout()">Излизане</button>
    </span>
</div>
<div>
    Справка:
    <button mat-flat-button color="primary" (click)="toggleNotifications()">Покажи/Скрий</button>
    <dashboard-notifications *ngIf="showNotifications"
        [prescriptions]="prescriptions"
        [protocols]="protocols"
    ></dashboard-notifications>
</div>
<div>
    <span>Клиенти:</span>
    <clients></clients>
</div>