<p>MyProtocols UI v.{{appVersion}}</p>
<div class="dashboard-title">Здравейте {{user}}  
    <span> Сесията изтича след: {{sessionExpiry}}</span>
    <span class="logout-button">
        <button mat-flat-button color="primary" (click)="logout()">Излизане</button>
    </span>
</div>
<div>
    <dashboard-notifications
        [prescriptions]="prescriptions"
        [protocols]="protocols"
    ></dashboard-notifications>
</div>
<div>
    <span>Рецепти:</span>
    <prescriptions></prescriptions>
</div>
<div>
    <span>Протоколи:</span>
    <protocols></protocols>
</div>