<div>
    Добавяне на полица:
</div>

<div>
    <mat-form-field>
        <mat-label>ДКН</mat-label>
        <input 
            matInput id="vehicle"
            name="vehicle"
            [(ngModel)]="vehicleId"
            (focusout)="valideVehicleId()">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Изберете тип</mat-label>
        <mat-select [(value)]="policyName">
          <mat-option>Няма</mat-option>
          <mat-option *ngFor="let type of policyTypes" [value]="type">{{type}}</mat-option>
        </mat-select>
      </mat-form-field>
    <mat-form-field>
        <mat-label>Полица номер</mat-label>
        <input matInput id="policyNumber" name="policyNumber" [(ngModel)]="policyNumber">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Компания</mat-label>
        <input matInput id="company" name="company" [(ngModel)]="company">
    </mat-form-field>
</div>
<div>
    <mat-form-field>
        <mat-label>Брокер</mat-label>
        <input matInput id="broker" name="broker" [(ngModel)]="broker">
    </mat-form-field>
    <mat-form-field>
        <mat-label for="prescriptionStart">Дата на старт:</mat-label>
        <input matInput [matDatepicker]="picker" 
            [(ngModel)]="startDate"
            (dateChange)="onStartDateChange()"
            name="prescription-start">
        <mat-hint>ДД/ММ/ГГГГ</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    <mat-form-field>
        <mat-label>Премия</mat-label>
        <input matInput id="totalAmount" name="totalAmount" [(ngModel)]="totalAmount" type="number">
    </mat-form-field>
</div>
<div *ngIf="totalAmount !== 0">
    <mat-checkbox [(ngModel)]="monthlyPolicy">Едномесечна</mat-checkbox>
    <mat-label for="payments">Брой вноски:</mat-label><BR>
    <mat-radio-group aria-label="Select an option" 
        [(ngModel)]="numberOfPayments"
        (change)="onPaymentNumberChange()">
        <mat-radio-button value="1">1</mat-radio-button>
        <mat-radio-button *ngIf="!monthlyPolicy" value="2">2</mat-radio-button>
        <mat-radio-button *ngIf="!monthlyPolicy" value="4">4</mat-radio-button>
    </mat-radio-group>
</div>
<div *ngFor="let payment of payments; index as i">
    <mat-form-field>
        <mat-label>Вноска {{i+1}}</mat-label>
        <input matInput id="comment" name="comment" [(ngModel)]="payments[i].date">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Сума {{i+1}}</mat-label>
        <input matInput id="amount" name="amount" [(ngModel)]="payments[i].amount">
    </mat-form-field>
</div>
<button mat-flat-button color="primary" type="button" (click)="addPolicy()">Добави полица</button>