<!-- <div id="prescriptions-add" *ngFor="let client of clients">
    <div>За: {{client}}</div>
    <client-add-policy [client]="client.clientName" (policyAdded)="prescriptionAdded($event)"/>
</div> -->
<mat-form-field>
    <mat-label for="search">Търсене:</mat-label>
    <input matInput
        id="search"
        name="search"
        size="10"
        [(ngModel)]="searchText"
        (keyup)="onSearch()"
    >
</mat-form-field>
<table *ngIf="clients.length">
    <thead>
      <tr>
        <th>Клиент:</th>
        <th>Булстат/ЕГН:</th>
        <th>Автомобили:</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <td 
            class="client"
            (click)="navigate(client.clientName)"
        >
            {{client.clientName}}
        </td>
        <td 
            class="client"
            (click)="navigate(client.clientName)"
        >
            {{client.identifier}}
        </td>
        <td 
            class="client"
            (click)="navigate(client.clientName)"
        >
            {{getClientVehicles(client)}}
        </td>
        <td  class="centered">
            <button mat-flat-button color="primary" (click)="updateClient(client.id)">Редакция</button>
            <button mat-flat-button color="warn" (click)="removeClient(client.id)">ИЗТРИЙ</button>
        </td>
      </tr>
    </tbody>
  </table> 