:host{
    margin-top: 1rem;
    margin-bottom: 1rem;

    table {
        width: 100%;
        border: 1px solid #000000;
        td {
            border: 1px solid #000000;
            padding: 0.5rem;
        }
    }
}

.payment-cell:hover {
    cursor: pointer;
    background-color: rgb(127, 210, 252);
}

.legend {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    .issued {
        color: white;
        background-color: rgb(102, 71, 255);
    }

    .informed {
        background-color: orange;
    }

    .sent {
        background-color: rgb(255, 238, 0);
    }

    .paid {
        background-color: rgb(86, 255, 142);
    }

    .overdue {
        border: 4px solid red;
    }
}

.payment-cell {
    &.informed {
        background-color: orange;
    }
    // not paid not sent but issued

    &.issued { 
        color: white !important;
        background-color: rgb(102, 71, 255);
    }


    &.sent {
        color: black !important;
        background-color: rgb(255, 238, 0);
    }

    &.paid {
        color: black;
        background-color: rgb(86, 255, 142);
    }

    &.overdue {
        // color: black;
        border: 4px solid red !important;
    }
}